@media only screen and (min-width:992px){
   .container{
    max-width: 1000px;
   }
   .all-section{
    display: flex;
    justify-content: center;
  }
   .section-left .img-left{
    width: 100%;
   }
   .section-right{
   width: 600px;
   }
   .section-right .p-first{
font-size: 46px;
font-weight: 900;
margin-top:20px;
   }
   .section-right .p-second{
    font-size: 20px;
   }
.left-bottom {
 padding-bottom: 90px;
}
.photo-left{
    position: relative;
    width: 120px;
    height: 83px;
}
.photo-left img{
    position: absolute;
    width: 114px;
   bottom:23px;
   left:2px;
}
.photo-left svg{
    position: absolute;
    top:55px;
}
.photo-right{
    position: relative;
    width: 141px;
    height: 83px;
}
.photo-right img{
    width: 70px;
    bottom: 30px;
}
.photo-right svg{
    position: absolute;
    top:55px;
    left:38px;
}

}